<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Services &amp; Pricing</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>
<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><%= link_to "Home Page", root_path %> <span class="divider"></span></li>
                    <li class="active"><a href="#">Services &amp; Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span3">
                <%= render partial: "menu", locals: { services: @services } %>
            </div>
            <div class="span9">
                <% @services.each_with_index do |item, index| %>
                  <div class="lined">
                      <h2><%= item.title %></h2>
                      <h5><%= item.created_at.strftime('%I. %B %Y') %></h5>
                      <span class="bolded-line"></span>
                  </div>
                  <% if index.even? %>
                    <article class="row">
                        <div class="span6">
                            <p><%= item.description %></p>
                        </div>
                        <div class="span3">
                            <div class="picture">
                                <img src="<%= item.thumb_url %>" alt="" width="270" height="172" />
                            </div>
                        </div>
                    </article><!-- /one service -->
                  <% else %>                
                    <article class="row">
                        <div class="span3">
                            <div class="picture">
                                <img src="<%= item.thumb_url %>" alt="" width="270" height="172" />
                            </div>
                        </div>
                        <div class="span6">
                            <p><%= item.description %></p>
                        </div>
                    </article><!-- /one service -->
                  <% end %>
                  <% if (index + 1) < @services.count %>
                    <div class="row">
                        <div class="span9">
                            <div class="divide-line">
                                <span class="icon icons-scissors"></span>
                            </div>
                        </div>
                    </div><!-- /divider -->
                  <% end %>
                <% end %>
            </div>
        </div><!-- /services left -->
    </div><!-- /container -->
</div>