<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Hår &amp; Styling</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>

<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><%= link_to "Hove Side", root_path %> <span class="divider"></span></li>
                    <li><%= link_to "Hår & Styling", services_path %> <span class="divider"></span></li>
                    <li class="active"><%= @service.title %> </li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span3">
                <%= render partial: "menu", locals: { categories: @categories } %>
            </div>
            <div class="span9">
                <div class="lined">
                    <h2><%= @service.title %></h2>
                    <h5><%= @service.created_at.strftime('%I. %B %Y') %></h5>
                    <span class="bolded-line"></span>
                </div>
                <article class="row">
                  <%= raw(@service.content) %>
                </article><!-- /one service -->
                <div class="row">
                    <div class="span9">
                        <div class="divide-line">
                            <span class="icon icons-scissors"></span>
                        </div>
                    </div>
                </div><!-- /divider -->
            </div>
        </div><!-- /services left -->
    </div><!-- /container -->
</div>