<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @service.content %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @service.thumb %>
</p>

<p>
  <strong>Oldprice:</strong>
  <%= @service.oldprice %>
</p>

<p>
  <strong>Newprice:</strong>
  <%= @service.newprice %>
</p>

<p>
  <strong>Ishomepage:</strong>
  <%= @service.isHomePage %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @service.visible %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
