<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Meet the Team</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>
<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><%= link_to "Hove Side", root_path %> <span class="divider"></span></li>
                    <li class="active"><a href="#">Meet the Team</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->
<div class="main-content">
    <div class="container">
        <% @employees.each_with_index do |item, index| %>
          <% if index.even?  %>
            <div class="row">
                <div class="team-member" id="team-member-<%= item.id %>">
                    <div class="span3">
                        <div class="picture">
                            <img src="<%= item.thumb_url(:poster) %>" alt="" width="270" height="370" />
                            <div class="shine-overlay"></div>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="lined">
                            <h2><%= item.name %></h2>
                            <h5><%= item.title %></h5>
                            <span class="bolded-line"></span>
                        </div>
                        <div class="row">
                            <div class="span9">
                            <%= raw(item.content) %>
                            </div>
                        </div>
                    </div>
                </div><!-- /team-member -->
            </div>
          <% else %>
            <div class="row">
                <div class="team-member" id="team-member-<%= item.id %>">
                    <div class="span9">
                        <div class="lined">
                            <h2><%= item.name %></h2>
                            <h5><%= item.title %></h5>
                            <span class="bolded-line"></span>
                        </div>
                        <div class="row">
                            <div class="span9">
                            <%= raw(item.content) %>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="picture">
                            <img src="<%= item.thumb_url(:poster) %>" alt="" width="270" height="370" />
                            <div class="shine-overlay"></div>
                        </div>
                    </div>
                </div><!-- /team-member -->
            </div>
          <% end %>
          <% if (index + 1) < @employees.count %>
            <div class="row">
                <div class="span12">
                    <div class="divide-line">
                        <span class="icon icons-scissors"></span>
                    </div>
                </div>
            </div><!-- /divider -->
          <% end %>
        <% end %>
    </div><!-- /container -->
</div>