<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @employee.thumb %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employee.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @employee.content %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @employee.weight %>
</p>

<p>
  <strong>Ishomepage:</strong>
  <%= @employee.isHomePage %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @employee.visible %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
