<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Kampanje</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>
<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Hove Side</a> <span class="divider"></span></li>
                    <li class="active"><a href="#">Kampanje</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <% @articles.each_with_index do |item, index| %>
                      <div class="span9">
                          <div class="lined">
                              <h2><%= link_to item.title, item %></h2>
                              <div class="meta-data">
                                  <%= item.publishdate.strftime('%I. %^B %Y') %>
                              </div>
                              <span class="bolded-line"></span>
                          </div>
                          <div class="blog-content">
                              <img src="<%= item.thumb_url(:thumb) %>" alt="<%= item.title %>" class="pull-<%= index.even? ? 'left' : 'right' %>" width="217" height="167" />
                              <p><%= item.description %></p>
                              <p><%= link_to 'READ MORE', item, class: 'btn btn-theme no-bevel' %></p>
                            </div>
                        </div><!-- /blogpost -->
                        <div class="span9">
                            <div class="divide-line">
                                <div class="icon icons-scissors"></div>
                            </div>
                        </div>
                      <% end %>

                      <div class="span9">
                          <%= paginate @articles %>
                      </div>
                  </div>
              </div><!-- /blog -->

              <div class="span3">
                  <div class="right sidebar">
                      <div class="sidebar-item search">
                          <div class="lined">
                              <h2>SEARCH</h2>
                              <h5>Find Something</h5>
                              <span class="bolded-line"></span>
                          </div>
                          <form action="blog-search.html" class="form">
                              <div class="input-append">
                                  <input class="search-width" id="appendedInputButton" type="text">
                                  <button class="btn btn-theme" type="submit">Go</button>
                              </div>
                          </form>
                      </div><!-- /search -->

                      <div class="sidebar-item last-comments">
                          <div class="lined">
                              <h2><span class="light">HOT</span> NEWS</h2>
                              <h5>What Others</h5>
                              <span class="bolded-line"></span>
                          </div>
                          <ul class="unstyled">
                              <% Article.all.each do |item| %>
                                <li><%= item.publishdate.strftime('%I %b') %> <%= link_to item.title, item %></li>
                              <% end %>
                          </ul>
                      </div><!-- /last comments -->
                  </div>
              </div>

          </div><!-- / -->
      </div><!-- /container -->
  </div>