<p id="notice"><%= notice %></p>

<h1>Listing Service Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Visible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_categories.each do |service_category| %>
      <tr>
        <td><%= service_category.title %></td>
        <td><%= service_category.description %></td>
        <td><%= service_category.visible %></td>
        <td><%= link_to 'Show', service_category %></td>
        <td><%= link_to 'Edit', edit_service_category_path(service_category) %></td>
        <td><%= link_to 'Destroy', service_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service category', new_service_category_path %>
