<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Kontakt Oss</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>

<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Hove Side</a> <span class="divider"></span></li>
                    <li class="active"><a href="#">Kontakt Oss</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->

<iframe class="full-map" src="http://regiohelden.de/google-maps/map_en.php?hl=en&amp;q=1530%20Moss+(Dronningsgt%2025)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>


<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span3">

                <div class="left sidebar">

                    <div class="sidebar-item">
                        <div class="lined">
                            <h2><span class="light">OUR</span> ADDRESS</h2>
                            <h5>Vi tar gjerne i mot besøk! Nedenfor kan du kontakte Hair House AS . Kontaktformularet kan brukes til alle spørsmål som du ikke har fått besvart ved å se på vår hjemmeside. Vi har som mål å besvare alle henvendelser innen 24 timer.</h5>
                            <span class="bolded-line"></span>
                        </div>
                        <strong class="black-clr"><%= getConfig 'title' %></strong> <br />
                        <%= getConfig 'address1' %><br />
                        <%= getConfig 'address2' %><br />
                        <%= getConfig 'address3' %><br />

                        <a href="#" class="read-more">VIEW MAP -</a> <br /><br />

                        Phone: <strong class="black-clr"><%= getConfig 'phone' %></strong> <br />
                        Fax: <strong class="black-clr"><%= getConfig 'fax' %></strong> <br />
                        Mail: <strong class="black-clr"><%= getConfig 'email' %></strong> <br />
                        Web: <strong class="black-clr"><%= getConfig 'web' %></strong>

                    </div>

                </div><!-- /sidebar -->

            </div>

            <%= render 'form' %>
        </div>
    </div>
</div><!-- /container -->
