<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Kontakt Oss</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>

<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Hove Side</a> <span class="divider"></span></li>
                    <li class="active"><a href="#">Kontakt Oss</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->

<iframe class="full-map" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=HH as,+Dronningsgt25&amp;aq=0&amp;oq=lju&amp;sll=46.149166,14.986011&amp;sspn=3.105366,8.453979&amp;ie=UTF8&amp;hq=&amp;hnear=Ljubljana,+Slovenia&amp;t=h&amp;ll=46.056437,14.508047&amp;spn=10.7507272,106.7057734&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span3">

                <div class="left sidebar">

                    <div class="sidebar-item">
                        <div class="lined">
                            <h2><span class="light">OUR</span> ADDRESS</h2>
                            <h5>Where can you find us?</h5>
                            <span class="bolded-line"></span>
                        </div>
                        <strong class="black-clr"><%= getConfig 'title' %></strong> <br />
                        <%= getConfig 'address1' %><br />
                        <%= getConfig 'address2' %><br />
                        <%= getConfig 'address3' %><br />

                        <a href="#" class="read-more">VIEW MAP -</a> <br /><br />

                        Phone: <strong class="black-clr"><%= getConfig 'phone' %></strong> <br />
                        Fax: <strong class="black-clr"><%= getConfig 'fax' %></strong> <br />
                        Mail: <strong class="black-clr"><%= getConfig 'email' %></strong> <br />
                        Web: <strong class="black-clr"><%= getConfig 'web' %></strong>

                    </div>

                </div><!-- /sidebar -->

            </div>

            <%= render 'form' %>
        </div>
    </div>
</div><!-- /container -->
