<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @album.cover %>
</p>

<p>
  <strong>Ishomepage:</strong>
  <%= @album.isHomePage %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @album.visible %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
